hr
form(action="/api/photos", ng-upload)
    input(type="file", name="file", ng-model="file")
    br
    input(type="button", value="Upload", upload-submit="results(content, completed)")
    div.alert.alert-info Server Response {{uploadResponse}}
hr
p This is the mapping view.
div#mappingHolder(style="width:{{Mapping.parent.w}}px;height:{{Mapping.parent.h}}px;")
    div.overlay
        div.rect(ng-repeat="rect in Mapping.rectangles",style="left:{{rect.x}}px;top:{{rect.y}}px;width:{{rect.w}}px;height:{{rect.h}}px;background:{{rect.c}};z-index:{{rect.z}};",ng-click="addOnClick($event,$index,'rect')") ov-{{$index}}
    div.pictures
        div.img(ng-repeat="rect in Mapping.rectangles",ng-class="{show:rect.show,hide:!rect.show}",style="background:{{rect.url}};z-index:{{rect.z}};") img-{{$index}} 