
<hr/>
<form action="/api/photos" ng-upload="ng-upload">
  <input type="file" name="file" ng-model="file"/><br/>
  <input type="button" value="Upload" upload-submit="results(content, completed)"/>
  <div class="alert alert-info">Server Response {{uploadResponse}}</div>
</form>
<hr/>
<p>This is the mapping view.</p>
<div id="mappingHolder" style="width:{{Mapping.parent.w}}px;height:{{Mapping.parent.h}}px;">
  <div class="overlay">
    <div ng-repeat="rect in Mapping.rectangles" style="left:{{rect.x}}px;top:{{rect.y}}px;width:{{rect.w}}px;height:{{rect.h}}px;background:{{rect.c}};z-index:{{rect.z}};" ng-click="addOnClick($event,$index,'rect')" class="rect"></div>
    <!-- ov-{{$index}}-->
  </div>
  <div class="pictures">
    <div ng-repeat="rect in Mapping.rectangles" ng-class="{show:rect.show,hide:!rect.show}" style="background:{{rect.url}};z-index:{{rect.z}};" class="img"></div>
    <!-- img-{{$index}}-->
  </div>
</div>